@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=PT+Sans&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=PT+Sans&family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

html, body {
  overflow-x: hidden;
  color: #333;
}

.disclaimer {
  background-color: #eee;
  color: #ccc;
  text-align: center !important;
  padding: 10px;
}

.wd-100 {
  width: 100% !important;
}

.table-wrapper {
  display: none;
}

.firstletter {
  color: #db1100;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

ul, ol {
  list-style-position: outside;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}

ul li, ol li {
  padding-top: 5px;
}

.border-grey {
  background-color: #f5f6f7;
  margin: 10px 0;
  width: 100%;
}

@media (min-width: 768px) {
  .border-grey {
    margin: 10px 20px 10px 10px;
  }
}

.pd-0 {
  padding: 0 !important;
}

.pd-10 {
  padding: 10px !important;
}

.pd-l-0 {
  padding-left: 0 !important;
}

.show-sm, .show-md, .show-lg, .show-xl {
  display: none;
}

.hide-sm, .hide-md, .hide-lg, .hide-xl {
  display: block;
}

@media (min-width: 420px) {
  .show-sm {
    display: block;
  }
  .hide-sm {
    display: none;
  }
}

@media (min-width: 768px) {
  .show-md {
    display: block;
  }
  .hide-md {
    display: none;
  }
}

@media (min-width: 1024) {
  .show-lg {
    display: block;
  }
  .hide-lg {
    display: none;
  }
}

@media (min-width: 1200) {
  .show-xl {
    display: block;
  }
  .hide-xl {
    display: none;
  }
}

.quickFill {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -o-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: rgba(219, 17, 0, 0.75);
  font-weight: bolder;
  border-radius: 5px;
  z-index: 100;
  padding: 5px;
}

.quickFill a {
  text-decoration: none;
  color: white;
}

.quickFill:hover {
  background: #db1100;
}

.qfToggle {
  display: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -o-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.header-wrapper {
  margin: 0 auto;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  width: 100% !important;
  z-index: 999;
}

.header-wrapper .header--content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}

.header-wrapper .header--content img {
  width: 100% !important;
}

.form-container {
  padding: 2rem 1rem 1rem 1rem;
  max-width: 1200px;
  width: 92.5% !important;
  margin: 0 auto;
}

.progress {
  padding-top: 25px;
  padding-bottom: 30px;
  background: #fff;
}

.progress--item, .progress--content-bar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.progress--bar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-top: 10px;
}

.progress--content-bar {
  height: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress--bar-current {
  background: #db1100;
}

.progress--bar-remaining {
  background: #ccc;
}

.content-wrapper, .content--form-wrapper {
  width: 100%;
}

.content--form-wrapper {
  padding-top: 35px;
}

.row, .row-progress {
  padding-top: 20px;
}

.content--banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  vertical-align: middle;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content--banner .content--banner-image {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 1024px) {
  .content--banner .content--banner-image {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    padding-right: 20px;
  }
  .content--banner .content--banner-image img {
    height: 100%;
  }
}

.content--banner .content--banner-text {
  padding: 10px;
  background-color: #3e505d;
  color: #fff;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 1024px) {
  .content--banner .content--banner-text {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

.content--banner .content--banner-text h2, .content--banner .content--banner-text p, .content--banner .content--banner-text span {
  margin: 15px 5px;
}

.content--banner-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .content--banner-overlay {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.content--banner-overlay .content--banner-image {
  float: left;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content--banner-overlay .content--banner-text {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
}

.content--banner-overlay .content--banner-text h2, .content--banner-overlay .content--banner-text p, .content--banner-overlay .content--banner-text span {
  margin: 15px 15px;
  color: black;
  font-weight: 300;
}

.content--banner-overlay .content--banner-text h2 {
  font-size: 1.5rem;
}

.content--banner-overlay .content--banner-text p, .content--banner-overlay .content--banner-text span {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .content--banner-overlay .content--banner-text {
    position: absolute;
    background: rgba(255, 255, 255, 0.85);
    bottom: 25px;
    left: 25px;
    padding: 5px;
    width: 35%;
  }
  .content--banner-overlay .content--banner-text h2 {
    margin: 15px 5px;
    color: #333;
  }
  .content--banner-overlay .content--banner-text p, .content--banner-overlay .content--banner-text span {
    margin: 15px 5px;
    color: #333;
  }
}

.sectionHeader {
  padding-left: 15px;
  border-left: 5px solid transparent;
  color: #333;
  position: relative;
}

.sectionHeader::after {
  right: auto;
  left: -5px;
  top: 0.3rem;
  bottom: 0.3rem;
  background: #db1100;
  content: "";
  display: block;
  width: 5px;
  position: absolute;
}

.content--form-wrapper--block {
  background-color: #f5f6f7;
  padding: 0px;
  margin-top: 25px;
}

@media (min-width: 768px) {
  .content--form-wrapper--block {
    padding: 20px;
  }
}

.content--form-wrapper--block .form-group-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content--form-wrapper--block h2 {
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

.content--form-wrapper--block h2::after {
  content: none !important;
}

.content--form-wrapper--block .form-group-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content--form-wrapper--block .form-group-wrapper .form-group {
  padding: 25px 20px 20px;
  margin: 0;
}

@media (min-width: 768px) {
  .content--form-wrapper--block .form-group-wrapper .form-group {
    padding: 20px 35px;
  }
}

input[type="text"] {
  color: #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 1px;
  height: 45px;
  margin-top: 10px;
  padding-top: 0px;
  padding-left: 10px;
  border: none;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-box-shadow: inset 3px 3px 8px #fefefe,  inset -3px -3px 8px #ffffff;
          box-shadow: inset 3px 3px 8px #fefefe,  inset -3px -3px 8px #ffffff;
}

.input-effect:focus {
  border: 2px solid #14a5ab;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.invalid-input {
  background-color: rgba(131, 0, 10, 0.05);
  border: 1px solid #83000a !important;
  color: #83000a !important;
  font-weight: bold;
}

.valid-input {
  border: 1px solid #00847f !important;
}

.input-effect:focus {
  padding-top: 0px;
  padding-left: 9px;
}

.infobutton::after {
  content: "\2139";
  display: inline-block;
  font-size: 1.2rem;
  color: #333;
  padding-left: 5px;
  cursor: pointer;
}

.tooltipcontainer {
  display: none;
}

.tooltip {
  display: table;
  margin: 5px 0;
  padding: 10px;
  background: rgba(55, 103, 152, 0.15);
  border: 1px solid #376798;
  width: 100%;
}

.tooltip .tooltip-text {
  display: table-cell;
}

.tooltip .closebutton {
  display: table-cell;
  padding: 0 15px;
  cursor: pointer;
}

.tooltip .closebutton::after {
  content: "x";
  font-weight: bolder;
}

.tooltip-text-helper, .help-inline {
  display: none;
  background-color: #83000a;
  color: white;
  font-weight: 300;
  font-style: normal;
  padding: 5px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border: 1px solid #ccc;
  background-color: white;
}

.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container:hover input ~ .checkmark, .checkbox-container:focus-within input ~ .checkmark {
  border: 2px solid #005e59;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: white;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 10px;
  top: 3px;
  width: 5px;
  height: 15px;
  border: solid #005e59;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submit {
  padding: 10px 30px;
  margin: 10px auto;
  background-color: #da0011;
  color: white;
  cursor: pointer;
  border: none;
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}

.submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.submit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.submit:hover, .submit:focus {
  background-color: #ba000e;
}

.submit:active {
  background-color: #4d0600;
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}

.submit:hover span {
  padding-right: 25px;
}

.submit:hover span:after {
  opacity: 1;
  right: 0;
}

.content--banner-support {
  margin-top: 35px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content--banner-support .txt p {
  margin: 15px;
}

.content--banner-support .content--banner-support-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content--banner-support .content--banner-support-content .txt p {
  margin: 15px;
}

.content--other .container-fluid .row .csm-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
}

.content--other .container-fluid .row .csm-12 p {
  padding: 20px;
}

.content--other .container-fluid .row img {
  width: 100%;
  height: auto;
}

h3.card-header {
  padding: 30px 20px 10px 20px;
  margin: 0;
}

h3.card-header a {
  color: #333;
  text-decoration: none;
  font-weight: normal;
}

h3.card-header a:hover, h3.card-header a:focus {
  text-decoration: underline;
}

.chevron-right:after {
  content: "\203A";
  color: #db0011;
  padding-left: 7px;
  font-size: 1em;
}

p.card-content {
  padding: 10px 20px 10px 20px;
  margin: 0;
}

img {
  width: 100%;
}

.selectiveContent {
  display: none;
}

:focus {
  outline: none;
}

.txt-align-center {
  width: 100%;
  text-align: center !important;
  padding: 0 !important;
  margin: 0 !important;
}

.txt-align-right {
  width: 100%;
  text-align: right !important;
  padding: 0 !important;
  margin: 0 !important;
}

.txt-align-left {
  width: 100%;
  text-align: left !important;
  padding: 0 !important;
  margin: 0 !important;
}

.bd-bottom {
  border-bottom: 1px solid #333;
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.no-margin {
  margin: 0 !important;
}

.pd-left-10 {
  padding-left: 10px;
}

.img-fw {
  padding: 10px 20px;
  width: 100%;
}

.img-fh {
  height: 100%;
}

.bd-grey {
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordion {
  width: 100%;
  margin: 1rem 0 0;
  border: 1px solid #d7d8d6;
  padding: 1rem;
}

.accordion a {
  display: table;
  width: 100%;
  text-decoration: none;
  color: #333;
}

.accordion span.accordion-link {
  display: table-cell;
  vertical-align: middle;
}

.accordion span.chevron-accordion {
  display: table-cell;
  vertical-align: middle;
  width: 30px;
  padding: 0 5px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.accordion .chevron-accordion:after {
  content: "\00BB";
  color: #333;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .accordion .chevron-accordion:after {
    font-size: 1.5rem;
  }
}

.accordion:focus, .accordion:focus-within, .accordion:hover {
  background-color: #e3e6e8;
}

.inactive {
  display: none;
}

.tnc {
  color: #333;
  border: 1px solid #d7d8d6;
  background-color: #f5f6f7;
  padding: 1rem;
}
/*# sourceMappingURL=main.css.map */