/* $grey-120;
$grey-110;
$grey-100; */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

html, body {
  color: #333;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

*:focus, *:focus, *:focus {
  outline: none !important;
}

.selectiveContent, .inactive {
  display: none;
}

.disclaimer {
  background-color: #eee;
  color: #ccc;
  text-align: center !important;
  padding: 10px;
}

.wd-100 {
  width: 100% !important;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.img-h-25 {
  width: auto !important;
  height: 25px !important;
}

.firstletter {
  color: #db1100;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding: 4px 8px 4px 0;
}

ul, ol {
  list-style-position: outside;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}

ul li, ol li {
  padding-top: 5px;
}

img {
  width: 100%;
}

.border-grey {
  background-color: #f5f6f7;
  margin: 10px 0;
  width: 100%;
}

@media (min-width: 768px) {
  .border-grey {
    margin: 10px 20px 10px 10px;
  }
}

.pd-0 {
  padding: 0px !important;
}

.mg-0 {
  margin: 0px !important;
}

.pd-10 {
  padding: 10px !important;
}

.pd-l-0 {
  padding-left: 0px !important;
}

.pd-r-20 {
  padding-right: 20px;
}

.mg-r-10 {
  margin-right: 10px;
}

.mg-t-10 {
  margin-top: 10px;
}

.section-header {
  padding-left: 15px;
  border-left: 5px solid transparent;
  color: #333;
  position: relative;
}

.section-header::after {
  right: auto;
  left: -5px;
  top: 0.7rem;
  bottom: 0.7rem;
  background: #db1100;
  content: "";
  display: block;
  width: 5px;
  position: absolute;
}

.show-sm, .show-md, .show-lg, .show-xl {
  display: none;
}

.hide-sm, .hide-md, .hide-lg, .hide-xl {
  display: block;
}

@media (min-width: 420px) {
  .show-sm {
    display: block;
  }
  .hide-sm {
    display: none;
  }
}

@media (min-width: 768px) {
  .show-md {
    display: block;
  }
  .hide-md {
    display: none;
  }
}

@media (min-width: 1024px) {
  .show-lg {
    display: block;
  }
  .hide-lg {
    display: none;
  }
}

@media (min-width: 1200px) {
  .show-xl {
    display: block;
  }
  .hide-xl {
    display: none;
  }
}

.quick-fill {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -o-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
  position: fixed;
  right: 0px;
  bottom: 0px;
  background: rgba(219, 17, 0, 0.65);
  font-weight: bolder;
  border-radius: 5px;
  z-index: 99;
  padding: 5px;
}

.quick-fill a {
  text-decoration: none;
  color: #fff;
}

.quick-fill:hover {
  background: #db1100;
}

.qf-toggle {
  display: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -o-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.color-oxford-blue {
  background: #3e505d !important;
  background-color: #3e505d !important;
  color: #fff;
}

.color-monza {
  background: #db1100 !important;
  background-color: #db1100 !important;
  color: #fff;
}

.header-wrapper {
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 10;
}

.header-wrapper .header--content {
  text-align: center;
  display: block;
}

.header-wrapper .header--content img {
  display: block;
  margin: 5px auto;
  width: auto;
}

.form-container {
  padding: 2.5rem 1rem 1rem 1rem;
  max-width: 1200px;
  width: 92.5% !important;
  margin: 0 auto;
}

.progress {
  width: 100%;
  padding: 25px 0px;
}

ul.progress--item, .progress--bar-wrapper {
  list-style-type: none;
  padding: 0px 0px 10px 0px;
  margin: 0px;
  display: table;
  table-layout: fixed;
  width: 100%;
}

ul.progress--item li, .progress--bar-wrapper li {
  display: table-cell;
}

.progress--content-bar {
  height: 3px;
  display: table-cell;
}

.progress--content-bar.progress--bar-current {
  background: #db1100;
}

.progress--content-bar.progress--bar-remaining {
  background: #eee;
}

.content--banner-overlay {
  width: 100%;
  position: relative;
}

.content--banner-overlay .content--banner-image {
  position: relative;
  float: left;
}

.content--banner-overlay .content--banner-text {
  position: relative;
  width: 100%;
}

.content--banner-overlay .content--banner-text h1, .content--banner-overlay .content--banner-text h2, .content--banner-overlay .content--banner-text p, .content--banner-overlay .content--banner-text span {
  margin: 10px 0px;
  color: #333;
  font-weight: 300;
}

@media (min-width: 768px) {
  .content--banner-overlay .content--banner-text {
    position: absolute;
    background: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 5%;
    padding: 20px 5px;
    width: 35%;
  }
  .content--banner-overlay .content--banner-text h1, .content--banner-overlay .content--banner-text h2, .content--banner-overlay .content--banner-text h3, .content--banner-overlay .content--banner-text h4, .content--banner-overlay .content--banner-text h5, .content--banner-overlay .content--banner-text h6, .content--banner-overlay .content--banner-text p, .content--banner-overlay .content--banner-text span {
    margin: 15px;
    color: #333;
  }
}

.content--banner {
  border: 1px solid #ddd;
}

.content--banner .content--banner-image, .content--banner .content--banner-text {
  display: block;
  float: left;
}

.content--banner .content--banner-image img, .content--banner .content--banner-text img {
  display: block;
}

.content--banner .content--banner-text {
  padding: 10px 25px;
}

.content--form-wrapper {
  background-color: #f5f6f7;
  margin-top: 25px;
  padding: 20px;
}

@media (min-width: 768px) {
  .content--form-wrapper {
    padding: 30px 20px;
  }
}

.content--form-wrapper h2 {
  text-align: center;
  padding-bottom: 30px;
  margin: 0;
}

.content--form-wrapper .form-group {
  display: block;
  float: left;
  padding: 10px;
}

@media (min-width: 768px) {
  .content--form-wrapper .form-group {
    padding: 20px;
  }
}

input[type="text"] {
  color: #333;
  letter-spacing: 1px;
  height: 40px;
  margin-top: 10px;
  padding: 0px 10px;
  border: none;
  border: 1px solid #ccc;
  background: #fff;
}

.input-effect:focus, .input-effect:hover {
  border: 2px solid #14A5AB;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.invalid-input {
  background-color: #FFF5F6;
  border: 1px solid #83000a !important;
  color: #83000a !important;
  font-weight: bold;
}

.valid-input {
  border: 1px solid #00847F !important;
}

.info-button::after {
  content: "\2139";
  display: inline-block;
  font-size: 1.2rem;
  color: #333;
  padding-left: 5px;
  cursor: pointer;
}

.tooltip-container {
  display: none;
}

.tooltip {
  display: table;
  margin: 5px 0;
  padding: 10px;
  background: rgba(55, 103, 152, 0.15);
  border: 1px solid #376798;
  width: 100%;
}

.tooltip .tooltip-text {
  display: table-cell;
}

.tooltip .close-button {
  display: table-cell;
  padding: 0 5px;
  width: 15px;
  cursor: pointer;
}

.tooltip .close-button:after {
  content: "x";
  font-weight: bolder;
  color: #83000a;
}

.tooltip-text-helper, .help-inline {
  display: none;
  background-color: #83000a;
  color: #fff;
  font-weight: 300;
  font-style: normal;
  padding: 5px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container:hover input ~ .checkmark, .checkbox-container:focus-within input ~ .checkmark {
  border: 2px solid #005e59;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #fff;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 10px;
  top: 3px;
  width: 5px;
  height: 15px;
  border: solid #005e59;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.submit {
  padding: 10px 30px;
  margin: 10px auto;
  text-align: center;
  float: right;
  background-color: #da0011;
  color: #fff;
  cursor: pointer;
  border: none;
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}

.submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.submit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.submit:hover, .submit:focus {
  background-color: #BA000E;
}

.submit:active {
  background-color: #4D0600;
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}

.submit:hover span {
  padding-right: 25px;
}

.submit:hover span:after {
  opacity: 1;
  right: 0;
}

.content--banner-support {
  margin-top: 35px;
  border: 1px solid #ccc;
  padding: 20px;
}

.content--banner-support .content--banner-support-content {
  display: block;
}

.content--banner-support .content--banner-support-content > * {
  float: left;
}

.content--banner-support .content--banner-support-content > *::after {
  content: "";
  clear: both;
  display: table;
}

.content--banner-support .content--banner-support-content .pd-t-25 {
  padding-top: 25px;
}

.content--banner-support .content--banner-support-content .txt {
  padding-top: 0;
}

.content--banner-support::after {
  content: "";
  clear: both;
  display: table;
}

.content--other {
  margin-top: 35px;
}

.content--other .container-fluid .row {
  display: block;
  float: left;
}

.content {
  display: block;
  float: left;
}

.row {
  width: 100%;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: center;
}

.card-sub-container {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .card-sub-container {
    padding: 10px 20px 10px 0;
  }
}

.card-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-bottom: 20px;
  background-color: #f5f6f7;
}

.card-col .card-header {
  padding: 30px 20px 10px 20px;
  margin: 0;
}

.card-col .card-header a {
  color: #333;
  text-decoration: none;
  font-weight: normal;
}

.card-col .card-header a:hover, .card-col .card-header a:focus {
  text-decoration: underline;
}

.card-col p {
  padding: 0px 20px;
}

.chevron-right:after {
  content: "\203A";
  color: #db1100;
  padding-left: 7px;
  font-size: 1em;
}

.accordion {
  width: 100%;
  margin: 1rem 0 0;
  border: 1px solid #d7d8d6;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.accordion button {
  padding: 0;
  width: 100%;
  text-decoration: none;
  background: none;
  border: none;
  margin: 0;
  color: #333;
  cursor: pointer;
}

.accordion button .accordion-link {
  text-align: left;
  vertical-align: middle;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.accordion span.chevron-accordion {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 30px;
  padding: 0 10px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}

.accordion span.chevron-accordion::after {
  content: "\203A";
  color: #333;
  color: #db1100;
  font-size: 2rem;
  margin: 0;
}

@media (min-width: 768px) {
  .accordion span.chevron-accordion::after {
    font-size: 1.5rem;
  }
}

.accordion:focus, .accordion:focus-within, .accordion:hover {
  background-color: #e3e6e8;
  outline: none !important;
}

.accordion-content {
  color: #333;
  background-color: #f5f6f7;
  padding: 1rem;
  height: 20vh;
  overflow-y: auto;
}

.footer-wrapper {
  margin: 30px auto 0;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100% !important;
  background: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrapper .footer--content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  padding: 5px;
}

.footer-wrapper .footer--content p {
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .tx-left {
    text-align: left;
  }
  .tx-center {
    text-align: center;
  }
  .tx-right {
    text-align: right;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

table th {
  padding: 10px 0;
  border: 1px solid #999;
  background-color: #ddd;
}

table td {
  padding: 5px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

table tr:nth-child(odd) {
  background-color: #f5f6f7;
}

table tr:nth-child(even) {
  background-color: #fff;
}

table tr:last-child {
  border-bottom: 1px solid #999;
}

@media (max-width: 769px) {
  table thead {
    display: none;
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    display: block;
    margin-bottom: 2em;
    border: none;
    background-color: #f3f3f3;
  }
  table tr:nth-child(odd) td:nth-child(odd), table tr:nth-child(even) td:nth-child(odd) {
    background-color: #ddd;
  }
  table tr:nth-child(odd) td:nth-child(odd)::before, table tr:nth-child(even) td:nth-child(odd)::before {
    background-color: #ccc;
  }
  table tr:nth-child(odd) td:nth-child(even), table tr:nth-child(even) td:nth-child(even) {
    background-color: #eee;
  }
  table tr:nth-child(odd) td:nth-child(even)::before, table tr:nth-child(even) td:nth-child(even)::before {
    background-color: #ddd;
  }
  table td {
    display: block;
    position: relative;
    padding: 10px 10px 10px 45%;
  }
  table td::before {
    content: attr(data-header);
    text-transform: uppercase;
    position: absolute;
    padding: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    width: 35%;
    vertical-align: top;
  }
  table .tx-left, table .tx-center, table .tx-right {
    text-align: left;
  }
}

.top {
  vertical-align: top;
}

.middle {
  vertical-align: middle;
}

.bottom {
  vertical-align: bottom;
}

.teal {
  background-color: teal;
  background: teal;
  color: white;
}

.red {
  background-color: red;
  background: red;
  color: white;
}

.blue {
  background-color: blue;
  background: blue;
  color: white;
}

.green {
  background-color: greenyellow;
  background: greenyellow;
}

.tw-2 {
  width: 2%;
}

.tw-3 {
  width: 3%;
}

.tw-4 {
  width: 4%;
}

.tw-5 {
  width: 5%;
}

.tw-10 {
  width: 10%;
}

.tw-15 {
  width: 15%;
}

.tw-20 {
  width: 20%;
}

.tw-30 {
  width: 30%;
}

.tw-40 {
  width: 40%;
}

.tw-50 {
  width: 50%;
}

.tw-60 {
  width: 60%;
}

.tw-70 {
  width: 70%;
}

.tw-80 {
  width: 80%;
}

.tw-90 {
  width: 90%;
}

.tw-100 {
  width: 100%;
}
/*# sourceMappingURL=main-ie.css.map */