// ? color
$font-color: #333;


$grey-150: #fdfefd;
$grey-140: #fcfcfc;
$grey-130: #f5f6f7;
$grey-120: #f4f4f4;
$grey-90: #f3f3f3; 
$grey-88: #f2f2f2; 
$grey-86: #f1f1f1; 
$grey-84: #f0f0f0; 
$grey-82: #efefef; 
$grey-80: #eee;
$grey-78: #efefef;

$grey-70: #ddd;
$grey-60: #ccc;
$grey-50: #bbb;
$grey-40: #aaa;
$grey-30: #999;

$red-rgba-100:rgba(225,25,125, 0.1);
$white-rgba-100:rgba(255,255,255, 1);
$white-rgba-95:rgba(255,255,255, 0.95);
$white-rgba-90:rgba(255,255,255, 0.90);
$white-rgba-85:rgba(255,255,255, 0.85);
$white-rgba-75:rgba(255,255,255, 0.75);
$white-rgba-65:rgba(255,255,255, 0.65);
$white-rgba-55:rgba(255,255,255, 0.55);
$white-rgba-50:rgba(255,255,255, 0.50);
$white-rgba-45:rgba(255,255,255, 0.45);
$white: #fff;
$black: #000;
$red-brand: #db1100;
$red-brand-lighter: #da0011;
$guardsman-red: #BA000E;
$temptress: #4D0600;
$oxford-blue: #3e505d;
$oxford-blue-transparent: rgba(62, 80, 93, 0.65);
$eastern-blue: #14A5AB;
$teal: #00847F;
$blue-stone: #005e59;
$calypso: #376798;
$chablis: #FFF5F6;
$man-utd: #83000a;
$red-rgba-brand: rgba(219,17,0,0.65);


// ? size
$s-0: 0px;
$s-5: 5px;
$s-10: 10px;
$s-15: 15px;
$s-20: 20px;
$s-25: 25px;
$s-30: 30px;
$s-40: 40px;
$s-50: 50px;
$s-60: 60px;


// ? breakpoint
$b-sm: 420px;
$b-md: 768px;
$b-lg: 1024px;
$b-xl: 1200px;

// ? width
$content-width: 92.5%;